.irs-bar {
  border-top-color: #006d2c;
  border-bottom-color: #006d2c;
}

.irs-bar-edge {
  border-color: #006d2c;
}

.irs-single, .irs-bar-edge, .irs-bar, .irs-from, .irs-to {
  background: #006d2c;
}

.irs-grid-pol.small {height: 0px;}
.irs-grid-pol {height: 0px}
.irs-grid-text {display: none;}

.selectize-control.multi .selectize-input > div.active {
  background: #006d2c;
  color: #ffffff;
  border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-input.focus {
  border-color: #006d2c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.progress-bar {
  background-color: #006d2c;
}

.leaflet-popup-content-wrapper{
    opacity: 0.9;
}

.leaflet-popup-content a:link{
  color: #006d2c;
}
.leaflet-popup-content a:hover{
  color: #006d2c;
}
.leaflet-popup-content a:active{
  color: #00441b;
}
.leaflet-popup-content a:visited{
  color: #fd8d3c;
}
